* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

:root {

    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;

    --bg-color-brand: #CA3884;
    --bg-color-brand-hover: #A5526CB;
    --bg-color-danger: #C93847;

    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;

    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;    
    
    --font-family-sans: 'Inter', system-ui, sans-serif;
    --font-weight-base: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --font-size-small: 0.875rem;
    --font-size-base: 1rem;
    --font-size-large: 1.5rem;

                  
}       

